/* Global Styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

body {
    background-image: url(20.391769-river-mountain-scenery-digital-art-4k-pc-wallpaper.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    transition: background-color 0.3s ease;
}

ul {
    list-style: none;
}

/* Header */
.header {
    background: linear-gradient(90deg, rgb(19, 0, 54) 0%, rgb(255, 147, 75) 100%);
    padding: 10px 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
    position: sticky;
    top: 0;
    z-index: 1000;
    transition: background-color 0.3s ease;
}

.header .header__left {
    flex-grow: 1;
}

.header .header__left .logo {
    max-height: 50px;
}

.header .header__right nav a {
    color: #fff;
    text-decoration: none;
    margin-right: 10px;
    font-size: 25px;
    transition: color 0.3s ease;
}

.header .header__right nav a.active {
    font-weight: bold;
    color: #642800;
}

.header .header__right nav a:hover,
.header .header__right nav a:focus {
    color: #e0e0e0;
}

/* Dark Mode Styles */
.dark-mode {
    background-image: url(Amoled-Wallpaper-For-Computer.jpg);
    background-color: #121212;
    color: #fff;
}

.dark-mode .header {
    background: linear-gradient(15deg, #000 0%, #333 100%);
}

.dark-mode .header .header__right nav a.active {
    color: #735bff;
    text-shadow: 0 0 10px rgb(0, 6, 39);
}

.dark-mode .search-container {
    background-color: #181818;
}

.dark-mode .search-container input[type="text"] {
    background-color: #2c2c2c;
    color: #fff;
}

.dark-mode .search-container #searchBtn {
    color: #0f0f0f;
}

.dark-mode .searchResult {
    background-color: #181818;
    color: #fff;
}

.dark-mode .footer {
    background: linear-gradient(15deg, #000 0%, #181818 100%);
}

.dark-mode .footer__list a {
    color: white;
}

/* Switch */
.switch {
    font-size: 17px;
    position: relative;
    display: inline-block;
    width: 64px;
    height: 34px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #505050;
    transition: .4s;
    border-radius: 30px;
}

.slider:before {
    position: absolute;
    content: "";
    height: 30px;
    width: 30px;
    border-radius: 20px;
    left: 2px;
    bottom: 2px;
    z-index: 2;
    background-color: #e8e8e8;
    transition: .4s;
}

.sun svg {
    position: absolute;
    top: 6px;
    left: 36px;
    z-index: 1;
    width: 24px;
    height: 24px;
}

.moon svg {
    fill: #73C0FC;
    position: absolute;
    top: 5px;
    left: 5px;
    z-index: 1;
    width: 24px;
    height: 24px;
}

.sun svg {
    animation: rotate 15s linear infinite;
}

.moon svg {
    animation: tilt 5s linear infinite;
}

.input:checked + .slider {
    background-color: #183153;
}

.input:focus + .slider {
    box-shadow: 0 0 1px #183153;
}

.input:checked + .slider:before {
    transform: translateX(30px);
}

@keyframes rotate {
    0% { transform: rotate(0); }
    100% { transform: rotate(360deg); }
}

@keyframes tilt {
    0%, 100% { transform: rotate(0deg); }
    25% { transform: rotate(-10deg); }
    75% { transform: rotate(10deg); }
}

/* Main Body */
.mainBody {
    flex-grow: 1;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding: 50px 0;
}

/* Icon Content */
.example-2 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

.example-2 .icon-content {
    margin: 0 10px;
    position: relative;
    padding: 0.5rem;
}

.example-2 .icon-content .tooltip {
    position: absolute;
    top: 100%;
    right: 0;
    transform: translateY(450%);
    color: #fff;
    padding: 6px 10px;
    border-radius: 5px;
    opacity: 0;
    visibility: hidden;
    font-size: 14px;
    transition: all 0.3s ease;
}

.example-2 .icon-content:hover .tooltip {
    opacity: 1;
    visibility: visible;
    top: -50px;
}

.example-2 .icon-content a {
    position: relative;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    color: #4d4d4d;
    background-color: #fff;
    transition: all 0.3s ease-in-out;
}

.example-2 .icon-content a:hover {
    box-shadow: 3px 2px 45px 0 rgb(0 0 0 / 12%);
}

.example-2 .icon-content a svg {
    position: relative;
    z-index: 1;
    width: 30px;
    height: 30px;
}

.example-2 .icon-content a:hover {
    color: white;
}

.example-2 .icon-content a .filled {
    position: absolute;
    top: auto;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 0;
    background-color: #000;
    transition: all 0.3s ease-in-out;
}

.example-2 .icon-content a:hover .filled {
    height: 100%;
}

.example-2 .icon-content a[data-social="linkedin"] .filled,
.example-2 .icon-content a[data-social="linkedin"] ~ .tooltip {
    background-color: #0274b3;
}

.example-2 .icon-content a[data-social="github"] .filled,
.example-2 .icon-content a[data-social="github"] ~ .tooltip {
    background-color: #24262a;
}

.example-2 .icon-content a[data-social="instagram"] .filled,
.example-2 .icon-content a[data-social="instagram"] ~ .tooltip {
    background: linear-gradient(45deg, #405de6, #5b51db, #b33ab4, #c135b4, #e1306c, #fd1f1f);
}

.example-2 .icon-content a[data-social="youtube"] .filled,
.example-2 .icon-content a[data-social="youtube"] ~ .tooltip {
    background-color: #ff0000;
}

/* Search Container */
.search-container {
    background-blend-mode: color;
    border-radius: 20px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
    padding: 20px;
    max-width: 600px;
    width: 100%;
    display: flex;
    align-items: center;
    z-index: 10;
}

#searchInput {
    flex-grow: 1;
    padding: 15px;
    border: none;
    border-radius: 20px;
    margin-right: 10px;
    font-size: 16px;
}

#searchBtn {
    background-color: #27b0ff;
    color: #fff;
    border: none;
    border-radius: 20px;
    padding: 12px 30px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
}

#searchBtn:hover {
    background-color: #05527e;
}

.searchResults {
    margin-top: 20px;
    width: 80%;
}

.searchResult {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 10px;
    margin-bottom: 10px;
}

.searchResult h2 {
    margin-bottom: 10px;
}

/* Voice Search Button Styles */
#voiceSearchBtn {
    margin: 5px;
    background-color: #3ca1ff;
    border: none;
    border-radius: 50%;
    padding: 8px;
    cursor: pointer;
    font-size: 18px;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

#voiceSearchBtn:hover {
    background-color: #05527e;
    transform: scale(1.1);
}

#voiceSearchBtn svg {
    width: 24px;
    height: 24px;
}

#voiceSearchBtn.active svg {
    animation: pulse 1.5s infinite;
}

@keyframes pulse {
    0% { transform: scale(1); }
    50% { transform: scale(1.1); }
    100% { transform: scale(1); }
}

/* Footer */
.footer {
    background: linear-gradient(90deg, rgb(20, 0, 46) 0%, rgb(255, 116, 35) 100%);
    padding: 15px 0;
    text-align: center;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
    transition: background-color 0.3s ease;
}

.footer__content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: text-shadow 0.3s ease;
}

.footer__list li,
.footer__info p {
    font-size: smaller;
    transition: color 0.3s ease;
}

.footer__list li:hover,
.footer__info p:hover {
    color: #2d77a1;
}

.footer__list {
    list-style-type: none;
    margin: 10px;
    padding: 0;
    text-align: left;
}

.footer__list li {
    display: inline;
    margin: 0 10px;
}

.footer__list a {
    color: #ffffff;
    text-decoration: none;
}

.footer__info {
    margin-right: 10px;
    text-align: right;
}

/* Media Queries for responsiveness */
@media screen and (max-width: 600px) {
    .header {
        flex-direction: column;
        align-items: center;
        padding: 10px;
    }

    .header .header__right {
        margin-top: 10px;
    }

    .header .header__right nav a {
        font-size: 20px;
    }
}

@media screen and (max-width: 768px) {
    .footer__content {
        flex-direction: column;
        text-align: center;
    }

    .footer__list,
    .footer__info {
        display: flex;
        flex-direction: column;
        text-align: center;
        flex-basis: 100%;
    }
}
